<!DOCTYPE html>
<html>
<head>
    <meta lang="cn"/>
    <title>浆果工厂-图片交流平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico"/>

    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>

    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/md5.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header class="col-sm-12">
    <h1>浆果工厂 <small class="desr">图片交流平台</small></h1>
    <a href="/watch" target="_blank"><h3>发现</h3></a>
    <a href="/factory" target="_blank"><h3>工厂</h3></a>
    <a href="/me" target="_blank"><h3>我</h3></a>
    <a href="javascript:tab();"><h2 class="glyphicon glyphicon-align-justify"></h2></a>
</header>
<nav id="menu">
    <h1 class="menu_">浆果工厂</h1>
    <h3 class="bf menu_"><em>Berry Factory</em></h3>
    <ul class="menu_">
        <li><a href="/users/login" target="_blank">登录</a></li>
        <li><a href="/users/sign-up" target="_blank">注册</a></li>
        <li><a href="/watch" target="_blank">发现</a></li>
        <li><a href="/factory" target="_blank">工厂</a></li>
        <li><a href="/me" target="_blank">我</a></li>
        <li><a href="/users/exit" target="_blank">退出登录</a></li>
    </ul>
</nav>
<main>
    <h1>浆果工厂-警告</h1>
    <h1>⚠️: <%- message %></h1>
    <h3><span id="second">3</span>秒后跳转到<%- linkname %></h3>
    <script type="text/javascript">
        let s = 3;
        setInterval(function () {
            s--;
            $("#second").html(s);
        }, 1000);
        setTimeout(function () {
            window.location.href = "<%- url %>";
        }, 3000);
    </script>
</main>
<footer class="col-sm-12">
    <h1>浆果工厂</h1>
    <h3>BerryFactory</h3>
    <p></p><p></p>
    <p>v-1.0.0</p>
    <p>Last publish 2019/03/09 21:00</p>
    <p>Powered by <a href="https://github.com/qianduanXIAOHAOZI/WanderingImage" target="_blank">WanderingImage</a>, <a href="http://www.bootcss.com/" target="_blank">Bootstrap</a></p>
</footer>
<script type="text/javascript" src="/javascripts/tab.js"></script>
</body>
</html>
